@{
    ViewData["Title"] = "criptoson";
}



    <!-- Example Code -->
<div class="container">
 <div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://raw.githubusercontent.com/mailsonpuc/Projeto/cde45037ba87048dcd14f4080669e9fce291ae04/docs/img/btc1.svg" class="d-block w-100" alt="..." width="912px" height="451px">
      <div class="carousel-caption d-none d-md-block text-light " style="background-color: #363636;">
        <h5>A melhor</h5>
        <p><em>Prepare-se para o mergulhar no mundo das criptomoedas  com a criptoson, aqui você fica realmente preparado para investir de forma segura e eficaz.</em></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/mailsonpuc/Projeto/cde45037ba87048dcd14f4080669e9fce291ae04/docs/img/btc2.svg" class="d-block w-100" alt="..." width="912px" height="451px">
      <div class="carousel-caption d-none d-md-block text-light " style="background-color: #363636;">
        <h5>Oportunidade</h5>
        <p><em>Ganhe descontos incrivel no seu primeiro investimento.</em></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/mailsonpuc/Projeto/cde45037ba87048dcd14f4080669e9fce291ae04/docs/img/btc3.svg" class="d-block w-100" alt="..." width="912px" height="451px">
       <div class="carousel-caption d-none d-md-block text-light " style="background-color: #363636;">
        <h5>Plante e colher</h5>
        <p><em>A oportunidade de investir remoto chegou, a melhor plataforma de investiento do brasil.</em></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <!-- End Example Code -->
    <!-- btn cadastro -->
    <div class="container text-center">
    
    
  <div class="row">
    <div class="col">
        <button type="button" class="btn btn-outline-primary">Cadastra</button>
    </div>
   
  </div>
</div>
</div>




