@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRIPTOSON | SOLUÇÔES DIGITAIS</h1>
    <h5><em>A melhor plataforma para investimento em criptomoedas, comece agora mesmo com apenas 5 Reais.</em></h5>
  
    
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
 
</div>
