@{
    ViewData["Title"] = "Cripto";
}




<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
        <img src="https://raw.githubusercontent.com/mailsonpuc/Projeto/b751e447b93c51f431d26de0fd8ec0d24fd70fbd/docs/img/btc1.svg"
        
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>




<div class="container text-center">
  <div class="row">
    <div class="col">
      <ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
    </div>
    <div class="col">
      
      <button class="form-control">  investir agora</button>
    </div>
    <div class="col">
      <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/" rel="noopener nofollow" target="_blank"></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
  {
  "width": "400",
  "height": "200",
  "symbol": "BINANCE:BTCUSDT",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "br",
  "allow_symbol_change": true,
  "calendar": false,
  "support_host": "https://www.tradingview.com"
}
  </script>
</div>
<!-- TradingView Widget END -->
    </div>
  </div>
</div>